#submit:hover
	cursor pointer 

.search
	padding 20px
	border-radius 15px
	margin-bottom 10px
	
label
	color white
	
	
.loading
	font-size 46px
	visibility hidden
	
.input-group-addon
	font-size 13px
	
#submit
	padding 10px
	font-size 48px
	border-radius 5px

select
	color black