.series
	z-index 10
	position fixed
	right 0px
	top 0px
	
#infoTable-wrapper
	padding 5px 0px
	background-color #5D6F7B
	border-radius 15px
	margin-bottom 10px
	
#showList.table-fixed
	width 950px
	
	tbody,thead,tr 
		display block
	tbody
		height 100vh
		overflow-y auto
		overflow-x hidden
	tbody td, thead th 
		width 450px
		
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th 
	background-color black

.fa
	cursor pointer
	
.left
	display inline-block
	width 17px

	
.footerAlter
	position absolute
	right 0px
	top 0px
	text-align center
	width 400px
	height 30px
	visibility hidden

.table
	margin-bottom 0px
	color white
	
#table-wrapper
	border-radius 15px
	background-color #5d6f7b
	padding 10px
	
.seriestips {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0.5
    /* Position the tooltip */
    position: absolute;
    z-index: 11;
}
.fa.fa-download:hover .seriestips {
    visibility: visible;
}