.series
	z-index 20
	position fixed
	right 0px
	top 0px
	

#showList.table-fixed
	width 950px
	
	tbody,thead,tr 
		display block
	tbody
		height 100vh
		overflow-y auto
		overflow-x hidden
	tbody td, thead th 
		width 450px
		
#infoList.table-fixed
	width 450px
	
	tbody,thead,tr 
		display block
	tbody
		height 250px
		overflow-y auto
		overflow-x hidden
