nci.sql
npm-debug.log
Frontend/node_modules
Frontend/package-lock.json
Frontend/public/test
Backend/node_modules
Backend/package-lock.json
Backend/node-postgres-todo/package-lock.json
Backend/node-postgres-todo/node_modules
Backend/node-postgres-todo/logs/*
AuthFrontend/node_modules
AuthFrontend/package-lock.json
.DS_Store
sessions
Backend/config/*
SAIP_2021_04_12.sql.gz
sftp-config.json
start*.sh