#downloadModal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title Downloading
            .modal-body
                p (number)patients/(number)series are downloading
                p please wait until downloading finished