#infoTable-wrapper
	table#infoList.table.table-hover.table-fixed
		thead
			tr
				th(style="width:175px") Modality
				th(style="width:175px") Serie_Description
				th(style="width:50px") 
				th(style="width:50px") 
		tbody.infoList

//-#infoDisplay

	#status.alert.alert-success
		#statusText Status: Ready (no file loaded)
		#warning
	#dropZone
