tr 
	//- td(style="width:175px") #{list.modality}
	//- td(style="width:175px") #{list.serie_description}
	//- td(style="width:50px")
	//- 	img(src='/mnt/scippy_images/'+patient_path+'/'+study_path+'/'+list.serie_path+'/thmb_'+list.serie_uid+'.jpg'||'test/thmb_1.3.46.670589.11.0.0.11.4.2.0.10731.5.5340.2006071120124446415.jpg')
	//- td(style="width:50px")
	//- 	a.left
	//- 		i.fa.fa-eye(id='/mnt/scippy_images/'+patient_path+'/'+study_path+'/'+list.serie_path+'/'+list.image_name||'test/00045803')
	//- 	a.right
	//- 		a.fa.fa-download(href=urlBase+'/'+resoure+'/'+patient_path+'/'+study_path+'/'+list.serie_path,download)
	//- 			span.slicetips Slice Download
