
.search.row
	div.col-md-4
		row
			label.Date Date From
			div.input-group
				span.input-group-addon
					i.icon-calendar(style='color:black')
				input#dateFrom.form-control(type="date",name="dateFrom",value=dateFrom)
		row
			label.Date Date To
			div.input-group
				span.input-group-addon
					i.icon-calendar(style='color:black')
				input#dateTo.form-control(type="date",name="dateTo",value=dateTo)

	//-div.col-md-5
		label.Date Date To
		div.input-group
			span.input-group-addon
				i.icon-calendar
			input#dateTo.form-control(type="date",name="dateTo",value=dateTo)
	block updateAndSelect

//-	div.col-md-1
		label
		div.loading
			i.icon-spin6.animate-spin
.showList.row