#table-wrapper(style="width:100hv").col-md-5
	table#showList.table.table-hover
		thead
			tr
				th(style="width:450px") Studies
				th(class='sorting_disabled' style="width:50px") Options
		tbody.showList
#table-wrapper2(style="width:100hv").col-md-7
	table#showList2.table.table-hover
	//-	thead
			tr
				th(style="width:450px") Patient
				th(style="width:450px") Modality
				th(style="width:450px" class='sorting_disabled') Series
				th(class='sorting_disabled' style="width:50px") Options
		tbody.showList
#downloadModal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title Downloading
			.modal-body
				p (number)patients/(number)series are downloading
				p please wait until downloading finished