#table-wrapper(style="width:970px")
	table#showList.table.table-hover.table-fixed
		thead
			tr
				th(style="width:450px") Patient_Name
				th(style="width:450px") Study_Description
				th(style="width:50px")
		tbody.showList
.series 