
.col-md-6
	p
			label(for='range') Date range:
			input(type="text" readonly style="width:100%;border:0; color:#f6931f; font-weight:bold;")#range
			#slider-range
	.col-md-8
		label Users:
		.pieChart
	.col-md-8
		label Events:
		.pieChartEvent
.col-md-6.statisticstemp(style="width:100hv;border: solid 2px;padding: 20px;border-color:lightgray;border-radius:5px")
	table#statisticsTable.table.table-hover
		thead
			tr
				th Event
				th Type
				th User_name
				th Time