
.col-md-12.experimentDocs(style="padding: 0px;")
	table#experimentDocUnderExperiment.table-hover.table-striped
		thead(style="width:100%")
			tr
				th Name
				th Created
				th Size
if admin
	input#upload(type='file' name='file')
