
.col-md-12(style='margin: 5px;')
	label.col-md-5.control-label Probe:
	.col-md-7.ProbeInfo #{probe_name}
.col-md-12(style='margin: 5px;')
	label.col-md-5.control-label Probe Description:
	.col-md-7.DescriptionInfo #{probe_description}
.col-md-12(style='margin: 5px;')
	label.col-md-5.control-label Experiment Description:
	.col-md-7.DescriptionInfo #{description}