.participantsView
	table#participantsTable.table-hover.table-striped
		thead
			tr
				th MRN
				th Patient Name
				th Study ID
				th Description
				th Modality
				th Date
				th Options
.seriesView(style='display:none')
	a#backToParticipantsView.icon-left-big Back
	table#seriesTable.table-hover.table-striped
		thead
			tr
				th Thumbnail
				th Series Title
				th Series Number
				th # of images
				th Options
