
.nav .active
    color midnightblue
    background darkgrey
.nav > li > a
    background lightgray
    color white
.panel
    position fixed
    width 100px 

.badge-notify
   background red
   position absolute
   top -10px
   left 85px
  