.aboutContainer
    height 90vh
    overflow-y auto
.aboutHeader ul 
    list-style-type none
    margin 0
    padding 0
    overflow hidden
    background-color #333


.aboutHeader li 
    float left


.aboutHeader li a 
    display block
    color white
    text-align center
    padding 14px 16px
    text-decoration none


.aboutHeader li a:hover 
    background-color #111

.projectsContent
    //display none
.mappingContent
    display none
.usersContent
    display none
.protocolsContent
    display none
.probesContent
    display none