.selected
	background darkgray
	
#projectsCollapseHeader  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e113";
   float: right;
   transition: all 0.5s;
}
#projectsCollapseHeader.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

#experimentsCollapseHeader  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e113";
   float: right;
   transition: all 0.5s;
}
#experimentsCollapseHeader.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

#patientsCollapseHeader  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e113";
   float: right;
   transition: all 0.5s;
}
#patientsCollapseHeader.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}